.footer{
    display: flex;
    border-bottom: 2px solid #CCCCCC;
    height: 130px;
    width: 1280px;
    &__imagen{
        width: 55px;
        height: 55px;
        border-radius: 10px;
        margin-left: 109px;
        margin-top: 38px;
    }
    &__h1{
        width: 170px;
        height: 36px;
        margin-top: 47px;
        margin-left: 21px;
        font-weight: $poppins-bold;
        // font-size: $font-sizeS;
    }
}