.post{
    &__logodesafio{
        width: 60px;
        height: 60px;
        margin: 16px 0px 0px 105px;
        border-radius: 77px;
        } 
    &__fecha{
        margin: 28px 0px 0px 105px;
        width: 515px;
        height: 27px;
        font-size: 20px;
    }
    &__logo{
        display: flex;
    }
    &__desafio{
        font-size: 25px;
        margin-left: 5px;
    }
    &__subtitle{
        margin-left: 105px;
        font-size: 40px;
    }
    &__text{
        width: 1080px;
        margin-left: 105px;
        text-align: justify;
        background-color: #faf8f8;
    }
    &__paragraph{
        font-size: 30px;
        padding:50px;
    }
    &__imagen{
        width: 800px;
        height: 400px;
        padding-left: 150px;
        border-radius: 20px;
    }
}
.relation{
    &__container{
        display: flex;
    }
    &__h2{
        margin-left: 105px;
        font-size: 25px;
    }
    &__imagen{
        width: 298px;
        height: 200px;
        border-radius: 20px;
        margin:22px 0px 0px 105px;
    }
    &__fecha{
        width: 294px;
        height: 24px;
        font-size: 16px;
        margin: 6px 0px 0px 111px;
    }
    &__descripcion{
        width: 295px;
        height: 31px;
        margin: 9px 0px 0px 110px;
    
    }
    &__logodesafio{
        margin: 39px 0px 0px 111px;
        width: 40px;
        height: 40px;
        border-radius: 77px;
    }
    &__desafio{
        width: 135px;
        height: 24px;
        margin: 47px 0px 0px 13px;
    }
}